{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Admission Detials
{% endblock title %}

{% block body %}
{% comment %} <h1 class="display-4">This is my Body</h1> {% endcomment %}
<div class="container my-4">
<div class="row">
    <div class="col-sm-6">
    <img class="img-fluid rounded mx-2" src="{% static 'images/schoolstaff.jpg' %}" style="width: 500px; height: 350px;" alt="Principal's Image"  srcset="">
    </div>
    <div class="col-sm-5 my-3">
        <h1 class="text-center text-primary mytext">Admission Open <br>
        for Session 2021-22 <br>
        please contact us School Campus <br>
        or call us at <br>
        <a class='kadd' href="tel:+919425935865">+ 91 94259 35865 </a> | <a class='kadd' href="tel:+919425195195">+91-94251-95195 </a></h1>
    </div>
</div>
</div>
<div class="container mx-2 my-4">
    <h4 class="mytext ">Admission Details</h4>
    <ul class="text-muted mt-3 ">
        <li><i class="fas fa-marker text-success"></i> No Entrance Exam for Pre-Primary classes only interaction</li>
        <li><i class="fas fa-marker text-success"></i> Classes I to XII admission will be given only for vacant seats on the basis of written test based on previous class syllabus.</li>
        <li><i class="fas fa-marker text-success"></i> Duration of Test 1 Hour</li>
    </ul>
    <h4 class="mytext">Class Age</h4>
    <ul class="text-muted mt-3 ">
        <li><i class="fas fa-marker text-success"></i> Nuresery 2½ – 3½ Years as on 30st June of the academic session.</li>
        <li><i class="fas fa-marker text-success"></i>  KG I 3½ – 4 ½ Years as on 30st June of the academic session.</li>
        <li><i class="fas fa-marker text-success"></i> KG II 4½ – 5 ½ Years as on 30st June of the academic session.</li>
    </ul>
    <h4 class="mytext">After confirmation of admission Please deposit the following within a week. Without these documents admission will be provisional</h4>
    <ul class="text-muted mt-3">
        <li><i class="fas fa-marker text-success"></i> 4 Passport size photographs.</li>
        <li><i class="fas fa-marker text-success"></i> Photocopies of Marksheet of last class.</li>
        <li><i class="fas fa-marker text-success"></i> Attested Birth Certificate in case of Pre-Primary & class I.</li>
        <li><i class="fas fa-marker text-success"></i> Original counter signed T.C. (School Leaving Certificate).</li>
    </ul>         
</div>
{% endblock body %}