<!-- Footer -->
<footer class="page-footer font-small pt-4 cnav">

  <!-- Footer Links -->
  <div class="container text-center text-md-left ">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Maruti Academy</h6>
        <p>Maruti Academy, Ratlam is spread over 7 Acres of land in lush green, Serene atmosphere having spacious
          building with all modern facilities for its students and now it is considered as one of the best CBSE
          affiliated schools of Ratlam.</p>
        <hr>
        <p>
          Created By: SuryaPratap Singh Rathore
        </p>
        <p>
          Designed By: Kunal D Patil
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mt-3 offset-md-4">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i>Maruti Academy Near Satrunda, Mhow-Neemuch Road, Ratlam (M.P.)

        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i><a class="text-dark"
            href="mailto: surya.pratap.2181@gmail.com">surya.pratap.2181@gmail.com</a>
        </p>

        <p>
          <i class="fas fa-phone mr-3"></i> <a class='text-dark' href="tel:+917987179334">+ 91-79871-79334 </a>
        </p>
        <p>
          <i class="fas fa-phone-alt mr-3"></i> <a class='text-dark' href="tel:+917509249549">+ 91-75092-49549 </a>
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2021 Copyright:
          <a href="http://marutiacademy.com/">
            <strong> MarutiAcademy</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/suryapratapr1" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/rathoresurya21" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto: surya.pratap.2181@gmail.com" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/surya-pratap-singh-rathore-a06bb7153/"
                class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->