/* special font  */
.st-font{
    font-family: 'Satisfy', cursive;
}
.cnav{
    background-color: #a2d2ff;
}
.jnav{
    background-color: #caf0f8;
}
.f-color{
    border-radius: 14px;
    /* background-color: #a78a7f; */
    background-color: #ffd500;
    /* background-color: #ffc300; */
    /* color: #073b4c; */
    color: #e71d36;
}
.mytext{
    font-family: Satisfy;
}
.kadd{
    color: #82C925;
}
.headcolor{
    color: #000F2B;
}
ul {
    list-style-type: none;
}
